[include]
    path = .gitconfig.d/core
    path = .gitconfig.d/alias
    path = .gitconfig.d/color
    path = .gitconfig.d/golang
    path = .gitconfig.d/user
[safe]
	directory = /opt/esp-idf
	directory = /opt/esp-idf/components/openthread/openthread
