root                     = true

[*]
charset                  = utf-8
end_of_line              = lf
indent_size              = 4
indent_style             = space
insert_final_newline     = true
trim_trailing_whitespace = true

[*.sh]
# shfmt
binary_next_line         = false
function_next_line       = false
keep_padding             = false
space_redirects          = false
switch_case_indent       = true

[yaml]
indent_size              = 2
