appdirs==1.4.3
asn1crypto==1.2.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.2
bzr==2.7.0
CacheControl==0.12.5
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
configparser==4.0.2
contextlib2==0.6.0
cryptography==3.3.2
distlib==0.3.0
distro==1.4.0
enum34==1.1.6
fontypython==0.5
future==0.18.2
getdevinfo==1.0.6
hgtui==0.2
html5lib==1.0.1
idna==2.8
importlib-metadata==0.23
ipaddress==1.0.23
lockfile==0.12.2
lxml==4.4.2
mercurial==5.2
more-itertools==5.0.0
msgpack==0.6.2
MySQL-python==1.2.5
ordered-set==3.1.1
packaging==19.2
pathlib2==2.3.5
pbr==5.4.4
pep517==0.6.0
pexpect==4.7.0
Pillow==7.1.0
ply==3.11
progress==1.5
psutil==5.6.7
ptyprocess==0.6.0
pycairo==1.18.2
pycodestyle==2.5.0
pycparser==2.19
PyGObject==3.34.0
pyparsing==2.4.6
PyQt4-sip==4.19.19
pyserial==3.4
pytoml==0.1.21
pyxdg==0.26
requests==2.22.0
retrying==1.3.3
scandir==1.10.0
six==1.13.0
soupsieve==1.9.5
team==1.0
terminator==1.91
urllib3==1.25.7
virtualenv==16.1.0
webencodings==0.5.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
zenmap==7.80
zipp==0.6.0
